/* Type Selector */
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico');
</style>

p {
    font-size: 1em; /* 16px, ?pt, 1005, 1em */
    line-height: 1.5em;
}

figcaption {
  font: normal 0.75em/1.5em Pacifico, cursive;
  color: #777;
  text-align: right;
}

/* Classs Selector */

.milk-text { /* Selects elements of class milk-text */
  font: bold 2.6em Pacifico, cursive;
  color: white;
  text-shadow: 0 2px 3px x000;
}
